# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$SOLAR_ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# add Homebrew bin to path
[ command -v brew &>/dev/null ] && PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH";

# if these bins exist, then add them to the PATH
[ -d "/usr/bin" ]       && PATH="$PATH:/usr/bin";
[ -d "/usr/sbin" ]      && PATH="$PATH:/usr/sbin";
# add to beginning of PATH so that it always take precedence over /usr/bin
[ -d "/usr/local/bin" ] && PATH="/usr/local/bin:$PATH";
# add to beginning of PATH so that it always take precedence over /usr/local/bin
[ -d "/opt/local/bin" ] && PATH="/opt/local/bin:$PATH";
# if the current user has a ~/bin, then add it to the PATH
[ -d "$HOME/bin" ]      && PATH="$PATH:$HOME/bin";

export PATH
